/* General styles and main layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #444242;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-style: normal;
  /* max-width: 1220px; */
  width: 100%;
}
main {
  max-width: 1220px;
  width: 100%;
  height: 100%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* Eclipse styles  */
.eclipse {
  width: 118px;
  height: 102px;
  border-radius: 50%;
}
.eclipse1 {
  position: absolute;
  left: -1%;
  top: 130px;
  background-color: rgba(27, 175, 169, 80%);
  filter: blur(140px);
  z-index: 0;
}
.eclipse2 {
  position: absolute;
  left: -1%;
  bottom: 100px;
  background-color: rgba(175, 98, 27, 60%);
  filter: blur(100px);
}

.display {
  /* z-index: 5; */
  width: 1920px;
  /* width: 100%; */
  height: 671px;
  background-color: #262525;
  border-radius: 20px;
}
/* Grid layout in Main section */
.display {
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  grid-template-rows: 80px 1fr 120px 60px;
  grid-template-areas:
    "header header right right"
    "left main right right"
    "left main right right"
    "left  main right right";
}
.header {
  grid-area: header;
  height: 100%;
}
.left-aside {
  grid-area: left;
  height: 100%;
}
.main {
  grid-area: main;
  height: 100%;
}
.right-aside {
  grid-area: right;
  width: 300px;
  height: 100%;
}

/* each section styles */
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 54px;
  gap: 38px;
}
.header-p {
  font-size: 16px;
  color: #ffffff;
}

/* Aside section Left & right, more passion, 
more footwork... left right left right :dddd  */

.left-aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.right-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 34px;
  gap: 29px;
}
.cards {
  position: relative;
  width: 300px;
  height: 300px;
}
.card {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 40px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  left: 30px;
  top: 30px;
}
.card1 {
  background: linear-gradient(135deg, #7b20e2, #2b1043);
  z-index: 3;
  position: relative;
}
.blur {
  position: absolute;
  top: 0;
  left: 10px;
  width: 118px;
  height: 102px;
  background-color: #bb39d0;
  filter: blur(100px);
}
.card2 {
  background: linear-gradient(135deg, #f1b15b, #c68e3c);
  transform: translate(18px, -14px) rotate(16deg);
  z-index: 2;
  /* top: -2px; */
}
.card3 {
  background-color: #2f847f;
  transform: translate(36px, -24px) rotate(45deg);
  z-index: 1;
  top: 30px;
}
.bottom-div {
  width: 258px;
  height: 253px;
  border-radius: 20px;
  background-color: #1d1d1d;
}
/* Main section */
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  gap: 24px;
}
.flex1 {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 37px;
}
.container {
  width: 253px;
  height: 153px;
  border-radius: 20px;
  background-color: #1d1d1d;
}
.flex2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-div {
  width: 100%;
  height: 153px;
  border-radius: 20px;
  background-color: #1d1d1d;
}
.flex3 {
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 37px;
}
.l-container {
  width: 386px;
  height: 157px;
  border-radius: 20px;
  background-color: #1d1d1d;
}
